@import "../../styles/variables";

.settingsForm {
  composes: pure-form pure-form-aligned from 'pure-css/lib/forms.css';

  &>p {
    margin: 0;
    padding: 10px;
  }
}

.advancedLink {
  float: right;
}

.settingsControlGroup {
  composes: pure-control-group from 'pure-css/lib/forms.css';
}