@import "../../styles/variables";

.settingsForm {
  width: 100%;
  margin: 0 auto;

  &>p {
    margin: 0;
  }

  fieldset {
    border: none;
    clear: both;
  }
}

.advancedLink {
  float: right;
}

.settingsControlGroup {
  composes: pure-g from 'pure-css/lib/grids.css';
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.settingsLabel {
  composes: pure-u-1-3 from 'pure-css/lib/grids.css';
}

.settingsInput {
  composes: pure-u-2-3 from 'pure-css/lib/grids.css';
}

.difficultyGroup {
  text-align: left;
  font-size: 1.5em;
}

.difficultyLabel {
  padding-right: 40px;
}

.difficultyInput {
  display: inline-block;
}