$inactiveColor: grey;
$activeColor: red;

.morseDisplay {
  width: 100px;
  height: 100px;
}

.inactiveDisplay {
  composes: morseDisplay;
  background-color: $inactiveColor;
}

.activeDisplay {
  composes: morseDisplay;
  background-color: $activeColor;
}