@import '../../styles/variables';

$activeColor: red;
$player-color: #4A4A4A;
$inactiveColor: lighten($player-color, 30%);

.playerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4A4A4A;
  padding: 10px 0;
  margin: 20px auto;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  a {
    padding: 0 20px;
    font-size: 1.8em;
    color: lighten($player-color, 30%);

    &:hover {
      color: lighten($player-color, 50%);
    }
  }
}

.controls, .displayArea {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devider {
  width: 1px;
  height: 40px;
  background-color: grey;
}

.morseDisplay {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0 20px;
  box-shadow: inset 0 0 42px rgba(0, 0, 0, 0.93);
}

.inactiveDisplay {
  composes: morseDisplay;
  background-color: $inactiveColor;
}

.activeDisplay {
  composes: morseDisplay;
  background-color: $activeColor;
}