

.generatedDataWrapper {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
    align-items: center;

    .linkSection {
        padding: 0 0 50px;
    }
  }
}

.qrCodeSection {
  text-align: center;
}

.linkSection {
  padding-left: 50px;
}

.shareLink {
  font-size: 1.5em;
}
